.typewrite {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;

}

.typewrite span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;

  letter-spacing: 1.2px;
}

.container-typewrite {
  padding: 20px;
}