.footer-container {
  /* margin-top: auto; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  overflow-x: hidden;
}

.list-footernav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.link-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px 15px;
  font-size: 12px;
  color: white!important;
}

.col {
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  max-width: 300px;
  font-size: 12px;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
}

.col2 {
  padding-left: 1em;
  padding-right: 1em;
}

.col3 {
  color: white;
}