@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.form-center {
  display:flex!important;
  justify-content: center!important;
}

.centered {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  margin-left: 3em;
}

#gen-container {
  margin-top: 25px;
}

.wineries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100vw;
}

.winerie-container {
  height: 95px;
  margin: 5px 5px 5px 5px;
  padding: 15px 0 0px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: .8;
  transition: transform .4s;
  background-color: white;
}

.winerie-container:hover {
  border-radius: 12px;
  opacity: 1;
  transform: scale(1.08);
}

.info-winerie {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.winerie-title {
  width: 200px;
  max-width: 90%;
  margin: 0 0 5px 0;
  font-size: 1.1em;
}

.winerie-region {
  font-size: .9em;
}

.winerie-region2 {
  font-size: .9em;
  margin-bottom: 1.5em!important;
}

.winerie-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-right: 150px;
  text-align: left;
}

.img-winerie-container {
  margin: 0 20px 40px 0;
  border-radius: 20px;
}

.img-winerie {
  border-radius: 10px;
  width: 100px;
  height: 70px;
}

.bodega-wine-details-tipo {
  font-size: .7em;
  font-weight: 400;
  margin: 0;
}

.bodega-wine-name {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  min-width: 250px;
}

.bodega-wine-year {
  font-size: 0.5em;
}

.bodega-wine-description {
  width: 250px;
  max-height: 245px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.leer-mas {
  border-radius: 4px;
  color: crimson!important;
  font-family: 'Roboto',sans-serif;
  font-size: 0.8em;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  width: 100px;
}

.leer-mas:hover {
  color: rgb(189, 136, 136)!important;
}

.container-grande {
  display: flex;
  /* margin-top: 35px; */
  width: 100%;
  justify-content: center;
}

.container-txt-wineries {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  color: white;
}

.card-bodega {
  background-color: rgb(238, 215, 215);
  /* background-color: rgb(224, 224, 224); */
  padding: 2.2em;
  border-radius: 0 0 10px 10px;
  height: 130vh;
}

.title-bodega-wine-detail {
  color: rgb(100, 26, 26);
  font-family: 'Roboto' sans-serif;
  font-weight: 100;
  margin-bottom: 1em;
  text-align: left;
  text-transform: uppercase;
}

.title-bodega-wine-detail2 {
  color: rgb(100, 26, 26);
  font-family: 'Roboto' sans-serif;
  font-weight: 100;
  text-align: left;
  text-transform: uppercase;
  color: white;
}

.bodega-container-details {
  display: flex;
  flex-direction: column;
}

.wineries-wrap-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(224, 224, 224);
  justify-content: center;
}

.wineries-container-det {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0 15px 0;
  min-width: 220px;
}

.winerie-txt-det {
  width: 150px;
}

.title-other-wines {
  margin: 15px 0 0 0;
  padding: 10px 0;
  background-color: rgba(224, 224, 224);
  color: rgb(100, 26, 26);
  font-family: 'Roboto' sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.img-winerie-det {
  width: 2em;
  margin: 0 10px 0 15px;
  opacity: .7;
}

.img-winerie-det:hover {
  opacity: 1;
}

.img-bodega-detail {
  width: 250px;
}

.img-bodega-wine-details {
  display: flex;
  align-items: flex-start;
  padding: 0;
  padding-bottom: 1.5rem;
}

.img-winerie-big {
  margin: 0 50px;
  border-radius: 5px;
  width: 350px;
}

.bodega-name-wines {
  border-bottom: 1px solid crimson;
  border-top: 1px solid crimson;
  padding-bottom: 0.3em;
  width: 250px;
  color: white!important;
}

.edit-bodega-btn {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* **** MEDIA QUERIES BODEGA **** */
@media (max-width: 992px) {

  .card-bodega {
    height: 450px;
  }

  .container-grande {
    flex-direction: column;
  }

  .title-bodega-wine-detail2 {
    margin-top: 25px;
    padding: 0 60px;
  }

  .winerie-region2 {
    padding: 0 60px;
  }

  .winerie-description {
    margin: 0;
    padding: 0 60px;
  }
  .bodega-container-details {
    display: flex;
    flex-direction: row;
  }

  .container-bodega-text {
    margin-left: 2em;
    width: 70%;
    min-width: 250px;
  }

  .wine-container-det {
    width: 80%;
  }

  .bodega-wine-description {
    width: 500px;
  }
}

@media (max-width: 820px) {

  .card-bodega {
    height: 80%;
  }

  .container-bodega-text {
    margin-left: 2em;
    min-width: 250px;
  }

  .bodega-container-details {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }

  .bodega-wine-name {
    min-width: 200px;
  }

 .bodega-wine-region {
  min-width: 200px;
}

  .bodega-wine-description {
    width: 70%;
  }

  .img-bodega-detail {
    width: 250px;
  }


}

@media (max-width: 600px) {

  .card-bodega {
    height: 90vh;
    width: 100%
  }

  .title-bodega-wine-detail {
    margin-left: 1.5em;
  }

  .img-bodega-wine-details {
    margin-left: 2em;
  }

  .container-bodega-text {
    margin-left: 2em;
    min-width: 250px;
  }

  .bodega-container-details {
    flex-direction: column;
    width: 100vw;
  }

  .bodega-wine-name {
    min-width: 200px;
  }

 .bodega-wine-region {
  min-width: 200px;
}

  .bodega-wine-description {
    width: 70%;
  }
}

@media (max-width: 520px) {
  .card-bodega {
    height: 90%;
  }
}

@media (max-width: 460px) {
  .img-winerie-big {
    width: 280px;
  }

  .title-bodega-wine-detail2 {
    margin-top: 25px;
    padding: 0 40px;
  }

  .winerie-region2 {
    padding: 0 40px;
  }

  .winerie-description {
    margin: 0;
    padding: 0 40px;
  }

  .winerie-container {
    width: 270px;
  }

  .winerie-title {
    width: 160px;
    font-size: 14px;
  }

  .winerie-region {
    font-size: 12px;
  }

  .img-winerie {
    width: 80px;
    height: 55px;
  }
}

@media(max-width: 380px) {
  .bodega-name-wines {
    width: 98%;
    text-align: left;
    font-size: .9em;
  }

  .img-winerie-big {
    width: 260px;
  }
} 

@media (max-width: 330px) {

  .img-bodega-detail {
    width: 70%;
  }

  .title-bodega-wine-detail {
    margin-left: .5em;
  }

  .img-bodega-wine-details {
    margin-left: 1em;
  }

  .container-bodega-text {
    margin-left: 1em;
    min-width: 250px;
  }

  .img-winerie-big {
    width: 200px;
  }
}


