.form-center {
  display:flex!important;
  justify-content: center!important;
}

/* .super-winerie-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

.wineries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.winerie-container {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: flex-start;
  padding-left: 15px;
  height: 110px;
  margin-left: 10px;
  margin-right: 10px;
  transition: ease-in .4s;
  opacity: .8;
}

.winerie-container:hover {
  background-color: rgb(235, 235, 235);
  opacity: 1;
}

.info-winerie {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.winerie-title {
  width: 200px;
  max-width: 90%;
  padding-bottom: 10px;
  border-bottom: .5px solid crimson;
  margin: 0 0 5px 0;
  font-size: 1.1em;
}

.winerie-region {
  font-size: .9em;
}

.img-winerie-container {
  margin: 0 20px 40px 0;
  border-radius: 20px;
}

.img-winerie {
  border-radius: 10px;
  width: 100px;
}

.bodega-wine-details-tipo {
  font-size: .7em;
  font-weight: 400;
  margin: 0;
}

.bodega-wine-name {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
}

.bodega-wine-year {
  font-size: 0.5em;
}

.bodega-wine-description {

  width: 250px;
  max-height: 245px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.leer-mas {
  padding: 7px;
  border: 1px solid crimson;
  width: 100px;
  border-radius: 4px;
  color: crimson!important;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
}

.leer-mas:hover {
  background-color: crimson;
  color: whitesmoke!important;
}

.container-grande {
  display: flex;
}

.card-bodega {
  background-color: rgb(224, 224, 224);
  padding: 2.5em;
  border-radius: 10px;
}

.title-bodega-wine-detail {
  text-align: left;
}

.bodega-container-details {
  display: block;

}

.img-bodega-wine-details {
  display: flex;
  align-items: flex-start;
  padding: 0;
  padding-bottom: 1.5rem;
}

.bodega-name-wines {
  padding-bottom: 0.3em;
  width: 250px;
  border-top: 1px solid crimson;
  border-bottom: 1px solid crimson;
}

.edit-bodega-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
