.container-show-comments {
  width: 100%;
  margin-top: 8px;
  text-align: left;
  margin-right: 10px;
}

.comment-box {
  text-align: left;
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.comment-title {
  margin-top: 20px;
}

.container-comments {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  background-color: white;
  margin-bottom: 15px;
  padding: 5px;
  width: 100%;
}

.img-comment {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 5px
}

.username-comment {
  margin: 0;
}

.createdAt {
  font-size: .7em;
  margin: 0!important;
}

.comment {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.btn-show-comments {
  font-size: 1.3em;
  text-align: left;
  margin-right: 10px;
}

.show-comments {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.hide-element {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

/*KeyFrames*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
