@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
  height: 100vh;
}

/* **** NAVBAR **** */
.navbar {
  /* display: flex; */
  /* justify-content: flex-start!important; */
  /* align-items: center; */
  background-color: #ffffff;
  border-bottom: 0.5px solid rgb(223, 223, 223);
  box-shadow: 3px 3px 8px 1px rgb(175, 175, 175);
  z-index: 5;
  /* margin-bottom: 25px; */
}

#collasible-nav-dropdown {
  vertical-align: 2em !important;
}

.dropdown-toggle {
  display: flex !important;
  align-items: center !important;
}

.dropdown-items {
  font-size: 0.9em;
  font-family: "roboto", sans-serif;
  font-weight: 100 !important;
}

.dropdown-toggle::after {
  content: "" !important;
}

.dropdown {
  margin: 0 !important;
  padding: 6px !important;
}

.navbar-btn {
  padding: 15px 25px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  align-items: center;
}

.navbar-btn:hover,
.navbar-btn:focus {
  font-weight: 500 !important;
  color: rgb(114, 55, 55) !important;
}

.btn-modal {
  background: none !important;
  color: rgb(114, 55, 55) !important;
  border: none !important;
  text-align: left !important;
}

.container-perfil {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  height: 100vh;
}
.container-perfil-second {
  justify-content: center;
}

.saludo {
  border: 5px solid #b8b8b8;
  margin: 10px 0;
  width: 300px;
  border-radius: 50px;
  justify-content: center;
}

.edit-perfil-link {
  margin: 10px 0;
  width: 300px;
  border-radius: 50px;
  justify-content: center;
  text-transform: uppercase;
}

.edit-perfil {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

.margin-perfil {
  margin-right: 15px;
}

.btn-logout-container {
  display: block;
  right: 0;
}

.btn-logout {
  width: 100px;
  padding: 5px 2px;
  color: rgb(241, 241, 241) !important;
  font-size: 0.7em;
  margin-right: 3em;
  background-color: #5e2129 !important;
}

.btn-sign {
  border: none !important;
  border-radius: 0 !important;
}

.label-form {
  text-align: left !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgb(179, 179, 179);
}

.error {
  padding-bottom: 15px;
  grid-area: 6 / 1 / 7 / 4;
}

/* **** WINES **** */
a {
  text-decoration: none !important;
  color: black !important;
  display: flex !important;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.6em;
  margin-bottom: 0.9em;
}

.wine-container {
  margin: 0 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 380px;
  /* width: 50%; */
  transition: transform 0.2s;
}

.wine-container:hover {
  width: 380px;
  background-color: white;
  border-radius: 12px;
  transform: scale(1.05);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.2);
}

.wine-container-det {
  margin-top: 35px;
  margin-left: 10%;
  display: flex;
  align-items: flex-start;
  width: 50%;
}

.img-wine {
  padding: 20px 15px;
  display: flex;
  align-items: center;
}

.img-wine-detail {
  width: 55px;
}

.img-wine-det {
  display: flex;
  align-items: flex-start;
  padding-right: 2em;
  width: 100px;
}

.info-wine {
  padding: 0 2em 0 0;
  width: 80%;
}

.info-wine > h5,
h6,
p {
  margin: 0;
  text-align: left;
}

.wine-title {
  margin: 0;
  padding: 15px 20px 15px 0;
  font-size: 1.5em;
  text-align: left;
}

.wine-title-det {
  margin: 0;
  font-size: 1.5em;
  text-align: left;
}

.wine-type {
  color: rgb(129, 53, 53);
}

.wine-rating {
  margin-top: 0;
  font-size: 1.2em;
}

span {
  text-align: left !important;
}

p {
  margin-bottom: 0.2em !important;
}

.wine-year {
  font-size: 1em;
  margin-bottom: 0;
}

.wine-description {
  padding: 25px 10px 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.3em;
}

.btn-filtrar {
  justify-content: center;
  width: 100px;
  padding: 5px 2px;
  border: 0.5px solid rgb(255, 170, 13);
  color: rgb(255, 170, 13) !important;
  font-size: 0.7em;
  margin-right: 3em;
  background-color: rgb(250, 250, 250) !important;
}

.btn-filtrar:hover {
  border: 0.5px solid crimson;
  color: crimson !important;
}

.btn-filtrar:focus {
  background-color: rgb(255, 170, 13) !important;
  color: white !important;
}

.btn-edit-wine {
  justify-content: center;
  width: 100px;
  padding: 5px 2px;
  border: 0.5px solid rgb(177, 176, 176);
  color: rgb(177, 176, 176) !important;
  font-size: 0.7em;
  margin-right: 1em;
  margin-bottom: 1.2em;
  background-color: rgb(250, 250, 250) !important;
}

.separador {
  margin-bottom: 1.5em;
}

.btn-edit-wine:hover {
  border: 0.5px solid crimson;
  color: crimson !important;
}

.btn-edit-wine:focus {
  background-color: crimson !important;
  color: white !important;
}

.container-btns-edit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flechita {
  color: crimson !important;
}

/* **** SEARCH **** */
.form {
  margin: 25px 0 15px 0;
  width: 75%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 5px 10px;
  margin: 0 0 15px 0;
  width: 75%;
  min-width: 90%;
  border-radius: 10px;
  border: 0.3px solid #b8b8b8;
}

.form-input:focus {
  outline: 2.5px solid #e0e0e0;
}

/* Prueba Modal */
.modal {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 80vw !important;
  transform: translate(-50%, -50%) !important;
}

/* **** FORMS **** */
.container-edit {
  display: flex;
  justify-content: center;
}

.form-edit {
  margin-top: 25px;
  align-items: flex-start;
  flex-direction: column;
  /* width: 450px; */
}

.form-edit-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.edit-label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  color: #b8b8b8;
}

.edit-input {
  justify-content: flex-start;
  padding: 5px 10px;
  margin-bottom: 15px;
  /* width: 75%; */
  min-width: 200px;
  border-radius: 10px;
  border: 0.2px solid #b8b8b8;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: .8px;
}

.edit-input:focus {
  outline: 2.5px solid #e0e0e0;
}

#image {
  display: none;
}

.container-edit-label-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

.img-edit-label-file {
  margin-right: 25px;
  width: 125px;
  height: 125px;
  margin-bottom: 15px;
  margin-top: 45px;
  border-radius: 10px;
}

.edit-label-file {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 5px 2px;
  color: whitesmoke;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: #bb1919;
  cursor: pointer;
  transition: .3s background-color ease-in-out;
}

.edit-label-file:hover {
  border: 0.5px solid #b8b8b8;
  background-color: white;
  color: #b8b8b8;
  
}

.edit-label-file:focus {
  background-color: #bb1919 !important;
  color: white !important;
}

.edit-label-icon {
  margin-left: 10px;
  color: whitesmoke
}

.btn-edit-perfil {
  height: 35px;
  margin-top: 10px;
  width: 150px;
  border: .2px solid #b8b8b8;
  background-color: white;
  color: #b8b8b8;
  font-family: 'Roboto', sans-serif;
}

.btn-edit-perfil:hover {
  border: .2px solid #bb1919;
  color: #bb1919;
}

/* **** MEDIA QUERIES **** */
@media (max-width: 820px) {
  .container-grande {
    flex-direction: column;
  }

  .wine-container-det {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .container-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0 auto;
  }

  .form-edit-container {
    margin-top: 10px;
    justify-content: center;
  }

  .img-edit-label-file {
    margin-left: 0;
  }
}

@media (max-width: 520px) {
  .img-wine-det {
    width: 60px;
    padding-right: 0.8em;
    padding-top: 0.5em;
  }
  .wine-container-det {
    width: 90%;
  }

  .img-wine-det {
    width: 45px;
    padding-right: 0.8em;
    padding-top: 0.5em;
  }
  .container-edit {
    flex-direction: column;
  }

  .form-edit-container {
    
    max-width: 350px;
  }

  .form-edit {
    margin: 0;
    justify-content: center;
    /* width: 520px; */
  }

  .container-edit-label-file {
    margin-top: 20px;
    width: 350px;
  }

  .edit-label-file {
    margin: 0;
  }

  .edit-label {
    margin-left: 0;
  }

  .edit-input {
    margin-left: 0;
  }

  .btn-edit-perfil {
    margin: 0;
    width: 120px;
  }

  .img-edit-label-file {
    margin-right: 0;
  }

}

@media (max-width: 380px) {
  .wine-title {
    font-size: 1.3em;
    padding-bottom: 5px;
  }

  .inf-wine {
    width: 200px;
  }
  .wine-description {
    font-size: 0.8em;
  }

  .wine-container {
    width: 80%;
  }

  .wine-container:hover {
    width: 80%;
  }

  .img-wine {
    padding: 25px 10px;
    width: 80px;
    margin-right: 8px;
  }

  .form-edit-container {
    max-width: 300px;
  }

  .container-edit-label-file {
    margin-top: 10px;
    width: 260px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .edit-label-file {
    margin-bottom: 25px;
    width: 260px;
  }

  .btn-edit-perfil {
    margin: 0;
    width: 120px;
  }
  .img-edit-label-file {
    margin-right: 0;
  }
}

@media (max-width: 330px) {
  .wine-title-det {
    font-size: 1.2em;
  }

  .wine-description {
    font-size: 0.8em;
  }

  .wine-container {
    width: 80%;
  }

  .img-wine {
    padding: 25px 10px;
    width: 80px;
  }

  .img-wine-detail {
    width: 35px;
    margin: 5px;
  }

  .wine-uva {
    font-size: 0.9em;
    line-height: 18px;
  }

  .saludo {
    width: 180px;
  }

  .container-edit {
    width: 300px;
  }
  
  .form-edit-container {
    max-width: 250px;
  }

  .container-edit-label-file {
    margin-top: 10px;
    width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .edit-label-file {
    margin-bottom: 25px;
    width: 200px;
  }

  .edit-input {
    width: 130px;
  }
  .btn-edit-perfil {
    margin: 0;
    width: 120px;
  }

  .img-edit-label-file {
    margin-left: 0;
  }
}



